<section id="aboutme" class="py-16">
    <div class="text-center max-w-7xl mx-auto px-12">
        <h2 class="text-3xl font-bold text-blue-800 mb-8">SOBRE MÍ</h2>

        <!-- Grid para organizar la imagen y el texto -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
            <!-- Imagen en la primera columna -->
            <img
                src="/foto-perfil.png"
                class="rounded-full w-56 h-48 mx-auto"
                alt="Foto de Marcela Cuenca"
            />

            <!-- Texto en la segunda columna -->
            <div class="text-left">
                <p class="text-gray-600 font-semibold">
                    ¡Hola! Soy Marcela Cuenca, docente y directora de BIOS
                    Online, con 18 años de experiencia en el ámbito educativo.
                    Mi carrera se ha centrado en la búsqueda constante de la
                    excelencia y la innovación en la enseñanza.
                </p>
            </div>
        </div>
    </div>
</section>
