<header
    class="flex items-center justify-center md:justify-between p-5 bg-gray-100 shadow-md text-lg font-popins font-semibold"
>
    <div class="logo-container">
        <img
            src="/logo-plus-edu-removebg-preview.png"
            alt="Logo +EDU"
            class="w-36 h-auto"
        />
    </div>
    <nav class="hidden md:flex">
        <ul class="flex justify-evenly items-center space-x-6">
            <li>
                <a
                    href="#hacemos"
                    class="text-blue-800 hover:bg-blue-800 hover:text-white px-4 py-2 rounded transition"
                    >Hacemos</a>
            </li>
            <li>
                <a
                    href="#queremos"
                    class="text-blue-800 hover:bg-blue-800 hover:text-white px-4 py-2 rounded transition"
                    >Queremos</a>
            </li>
            <li>
                <a
                    href="#fomentamos"
                    class="text-blue-800 hover:bg-blue-800 hover:text-white px-4 py-2 rounded transition"
                    >Fomentamos</a>
            </li>
            <li>
                <a
                    href="#vivimos"
                    class="text-blue-800 hover:bg-blue-800 hover:text-white px-4 py-2 rounded transition"
                    >Vivimos</a>
            </li>
            <li>
                <a
                    href="#servicios"
                    class="text-blue-800 hover:bg-blue-800 hover:text-white px-4 py-2 rounded transition"
                    >Servicios</a>
            </li>
            <li>
                <a
                    href="#aboutme"
                    class="text-blue-800 hover:bg-blue-800 hover:text-white px-4 py-2 rounded transition"
                    >Sobre mí</a>
            </li>
        </ul>
    </nav>
</header>
